.title{
    padding:0 10px;
    line-height: 30px;
}
.table-wrap{
    position: relative;
    margin:0 10px;
    border:1px solid #ccc;
    overflow: auto;
}
.table-wrap.first{
    height: 200px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table th,table td{
    border:1px solid #ccc;
}
table th{
    padding:8px;
    background: #e5e5e5;
}
table td{
    padding:5px;
    text-align: center;
}
table.fixed{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
}
.mt10{
    margin-top:10px;
}
.mt31{
    margin-top:14px;
}